<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>actorsDetail</title>
</head>
  <body>
    <h2>Apellido</h2>
    <h1><%= actorsPK.last_name %></h1>
    <h2>Nombre</h2>
    <h2><%= actorsPK.first_name %></h2>
    <h2>Rating</h2>
    <h2><%= actorsPK.rating %></h2>
     
     <button type="submit">Borrar</button>

     <button type="submit">Modificar</button>
   </body>

    
</html>