<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>genresDetail</title>
</head>
  <body>
    
    <h1><%= genresPK.name %></h1>
    <h2>Ranking</h2>
    <h2><%= genresPK.ranking %></h2>
     
     <button type="submit">Borrar</button>

     <button type="submit">Modificar</button>
   </body>

    
</html>