<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>moviesNew</title>
</head>
  <body>
    <h1>Listado de Películas</h1>
    <ul>
        <% for (let i = 0; i < moviesNew.length; i++) {  %> 
           <li>
              <a href="/movies/detail/<%= moviesNew[i].id %>"><%= moviesNew[i].title %></a>
            </li>


        <% } %> 
        </ul>

   </body>

    
</html>